page-home {
    h3 {
        text-align: center;
    }

    img {
        width: 200px;
        padding: 10px;
        align-self: center;
        display: block;
        margin: auto;
    }

    button {
        align-content: center; 
    }
}
